body{
    background-color:black;
}
.mainContainer{
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
}
header{
    display: flex;
    height: 460px;
}
.textstart{
    width: 10%;
}
img{
    border: 0;
    width: 900px;
    height: 900px;
}
.text{
    color: rgb(52, 52, 148);
    background-color: rgba(255, 255, 255, .6);
    width: 80%;
    height: 1000px;
    align-self: center;
    border: 1px solid white;    
    font-size: 30px;
    border-radius: 40px;
}
.textend{
    width: 10%;
}
.box1{
    background: url(../img/bckgrnd.jpg) repeat-y ;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 420px;    
}
.coord{
    color: rgb(52, 52, 148);
    background-color: rgba(255, 255, 255, .6);
    border: 1px solid black;
    display: flex;
    display: inline;
    flex-wrap: wrap;
    margin-top: 5px;
    padding-top: 10px;
    margin-left: 100px;
    width: 28%;
    height: 220px;
    border-radius: 40px;
    text-align: center;
    justify-content: center;
}
.box1center{
    color: rgb(52, 52, 148);
    background-color: rgba(255, 255, 255, .6);
    border: 1px solid black;
    display: flex;
    display: inline;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 100px;
    width: 32%;
    height: 220px;
    border-radius: 40px;
    justify-content: space-between;
    text-align: center;
    justify-content: center;    
    padding-top: 5px;
}
.photo{
    background: url(../img/profil2.jpg);
    width: 300px;
    height: 300px;
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
    border: 1px solid black;
    border-radius: 160px;
    justify-content: space-between;
}

.box2{
    background-color: black;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #fff;
    justify-content: center;
}
.box2col{
    background-color: black;
    height: 40px;
    width: 19%;
}
.box2col2{
    background-color: black;
    height: 40px;
    width: 12%;
}
.box3{
    background: url(../img/bckgrnd.jpg) repeat-y fixed;
    height: 1000px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-between;
}
.box3col1{
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}
img{
    width: 75px;
    height: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
}
h1, h3{
    text-align: center;   
    justify-content: center;
}

.box4{
    background-color: black;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    color: #fff;
    justify-content: center;    
}
.box4col{
    background-color: black;
    height: 100px;
    width: 19%;
}
.box4col2{
    background-color: black;
    height: 100px;
    width: 12%;    
}
.row {
    flex-direction: column;
    align-content: center;
}
ul{
    padding-top: 40px;
}
ul, li{
    text-align: left;
    list-style-type: disc;
}
h1{
    padding-top: 50px;
}
h1, h3, h5{
    padding-bottom: 50px;
    text-decoration: underline;
}
a:hover{
    background-color: rgb(255, 255, 255);
}

p{
    align-self: center;
    margin-left: 70px;
}